name: export-and-branch-solution
on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]
    
permissions:
    contents: write
  
jobs:
    export-from-dev:
      runs-on: windows-latest
      env: 
       runner_debug: 1
       
      steps:
      - uses: actions/checkout@v2
        with:
         lfs: true
      
      - name: who-am-i action
        uses: microsoft/powerplatform-actions/who-am-i@v0
        with:
         environment-url: '<ENV URL>'
         user-name: '<USER NAME>'
         password-secret: ${{secrets.password}}
         
      - name: export-solution action
        uses: microsoft/powerplatform-actions/export-solution@v0
        with:
         environment-url: '<ENV URL>'
         user-name: '<USER NAME>'
         password-secret: $ {{secrets.password}}
         solution-name: ALMLab
         Solution-output-file: out/exported/ALMLab.ip
         
      - name: unpack-solution action
        uses: microsoft/powerplatform-actions/unpack-solution@v0
        with:
         solution-file: out/exported/ALMLab.zip
         solution-folder: out/solutions/ALMLab
         solution-type: 'unmanaged'
         overwrite-files: true
         
      - name: branch-solution, prepare it for Pull Request action
        uses: microsoft/powerplatform-actions/branch-solution@v0
        with:
          solution-folder: out/solutions/ALMLab
          solution-target-folder: solutions/ALMLab
          repo-token: ${{secrets.GITHUB_TOKEN}}
          allow-empty-commit: true
        
      
  
